<div class="note-input-container">
  <input [(ngModel)]="title" placeholder="Title" class="note-input-title" />
  <textarea [(ngModel)]="description" placeholder="Take a note..." class="note-input-desc"></textarea>
  <button (click)="addNote()">Add</button>
</div>

<div class="notes-container">
  <div class="note-card" *ngFor="let note of notes">
    <h3>{{ note.title }}</h3>
    <p [innerText]="note.description"></p>
    <div class="note-actions">
      <button (click)="onEdit(note)"> Edit</button>
      <button (click)="onSetReminder(note)"> Reminder</button>
      <button (click)="onDelete(note)">Delete</button>
    </div>
  </div>
</div>
